.login-form {
	display: flex;
	flex-direction: column;
	padding: 3rem 0 0;

	.login-form-top {
		text-align: center;
		padding: 1rem 0 2rem;

		.login-form-heading {
			font-size: 2rem;
			font-weight: 600;
			line-height: 1.25;
		}
	}
	
	.login-input-fields {
		display: flex;
		flex-direction: column;

		.login-email-field,
		.login-password-field {
			display: flex;
			flex-direction: column;

			.input-error {
				border: 1px solid red;
			}

			.label-error {
				color: red;
			}

			.edit-email-btn {
				position: absolute;
				right: 1rem;
				transform: translateY(50%);
				bottom: 50%;
			}

			.show-login-pw-btn {
				position: absolute;
				right: 1rem;
				transform: translateY(50%);
				bottom: 50%;
			}
		}
	}

	.floating-label {
		position: relative;

		input {
			font-size: 1rem;
			height: 3.25rem;
			width: 100%;
  		padding: 0.75rem;
  		border: 1px solid black;
  		outline: none;
		}

		label {
			position: absolute;
			left: 0.4rem;
			top: 1.15rem;
			padding: 0 0.35rem;
			margin: 0 0 0 0.35rem;
			pointer-events: none;
			background: white;
			transition: all 0.1s ease;
		}
		
		input:not(:placeholder-shown) + label,
		input:focus + label {
			top: -0.4rem;
			left: 0.4rem;
			font-size: 0.9rem;
		}
	}

	.login-password-field {
		margin: 1rem 0 0;
	}

	.login-submit-btn {
		height: 3.25rem;
		border: 1px solid black;
		margin: 1.5rem 0 0;
	}
}