@import '@styles/colors.scss';

.current-card {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid;
  @include theme-color(border-color, border);
	gap: 0.5rem;
	padding: 1rem;
	border-radius: $round-edge;

	.current-card-matchup {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
}