@import '@styles/colors.scss';
@import '@styles/transitions.scss';

.home-game {
	display: inline-block;
	margin-right: 1.25rem;
	border: 1px solid;
	@include theme-color(border-color, border);
	border-radius: $round-edge;
	height: 20rem;
	width: 15rem;
	box-shadow: $shadow-thin;
	@include hover-shadow-effect;
	transition: transform 0.1s ease;

	@media (min-width: 768px) {
		margin: auto;
		width: 100%;
	}

	&:hover {
		cursor: pointer;
		
		transform: scale(1.025);
	}

	&.finished {
		pointer-events: none;
	}

	.hg-top {
		height: 8rem;
		border-bottom: 1px solid;
		@include theme-color(border-color, border);
		border-top-left-radius: 4.5px;
		border-top-right-radius: 4.5px;
	}

	.hg-bot {
		position: relative;
		padding: 1.25rem;

		.hg-date {
			padding: 0 0 1rem;
		}

		.hg-data {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 0 1rem;

			.hg-matchup {
				display: flex;
				gap: 1rem;
				font-size: 1.5rem;
			}

			.hg-info {
				font-size: 1.25rem;
			}
		}

		.hg-status {
			position: absolute;
			top: -1rem;
			right: 1rem;
			padding: 0.35rem 0.7rem;
			font-size: 0.9rem;
			@include theme-color(background-color, bg);
			border-radius: $round-edge;
			box-shadow: $shadow-thin;

			&.live {
				color: $white;
				background-color: $red;
				animation: PulsateLive 3s infinite;
			}
		}

		.hg-pred-outcome {
			position: absolute;
			top: 3.5rem;
			right: 1.25rem;
		}
	}
}