@import '@styles/colors.scss';
@import '@styles/transitions.scss';

.home-game {
	position: relative;
	display: inline-block;
	margin-right: 1.25rem;
	border: 1px solid;
	border-radius: $round-edge;
	padding: $normal-padding;
	height: 20rem;
	width: 15rem;
	box-shadow: $shadow-thin;
	@include hover-shadow-effect;
	transition: transform 0.1s ease;
	@include theme-color(border-color, card-border);
	transition: all 0.1s ease;

	@media (min-width: 768px) {
		margin: auto;
		width: 100%;
	}

	&:hover {
		cursor: pointer;
		@include theme-color(border-color, card-border-hover);
		transform: scale(1.02);
	}

	&.live {
		@include theme-color(border-color, text);
	}

	&.finished {
		pointer-events: none;
		opacity: 0.8;
	}

	.hg-date {
		position: absolute;
		top: 1rem;
		left: 1rem;

		@media (min-width: 768px) {
			font-size: 1.25rem;
		}
	}

	.hg-top {
		height: 10%;
/* 		border-bottom: 1px solid;
		@include theme-color(border-color, border); */
		border-top-left-radius: 4.5px;
		border-top-right-radius: 4.5px;
	}

	.hg-bot {
		height: 90%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.hg-data {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 0 1rem;

			.hg-matchup {
				display: flex;
				gap: 1.25rem;
			
				padding: 0 0 1.5rem;

				@media (min-width: 768px) {
					gap: 1.5rem;
				}

				> * {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 0.75rem;
					width: 50%;

					.team-pick {
						height: 1rem;

					}
		
					.team-tricode {
						display: flex;
						justify-content: center;
						align-items: center;
						border: 1px solid;
						@include theme-color(border-color, border);
						border-radius: $round-edge;
						padding: 1rem 1.5rem;
						width: clamp(5rem, 100%, 8rem);
						height: 4rem;
						font-size: 1.25rem;
					}

					.team-name {
						text-align: center;
						font-size: 1rem;
						@include theme-color(color, border);
					}

					.team-score {
						font-size: 1.5rem;
					}
				}
			}

			.hg-info {
				font-size: 1.25rem;
			}
		}
	}

	.hg-status {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0.9rem;
		@include theme-color(background-color, bg);
		display: flex;
		padding: 0.5rem;
		border-top-right-radius: 4.5px;
		border-bottom-left-radius: 4.5px;

		&.live {
			color: $light;
			background-color: $red;
			animation: PulsateLive 3s infinite;
		}
	}

	.hg-pred-outcome {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
	}
}