@import '@styles/colors.scss';
@import '@styles/transitions.scss';

.game-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem 2rem 2.5rem;
	cursor: pointer;
	border-radius: $round-edge;
	height: 10.5rem;
	box-shadow: $shadow-thin;
	@include hover-shadow-effect;
	border: 1px solid;
	@include theme-color(border-color, card-border);
	transition: all 0.1s ease;

	&:hover {
		@include theme-color(border-color, card-border-hover);
	};

	&.finished {
		pointer-events: none;
	}

	.game-card-live {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.25rem 0.5rem;
		border-top-right-radius: 4.5px;
		border-bottom-left-radius: $round-edge;
		box-shadow: $shadow-thin;
		animation: PulsateLive 3s infinite;
	}

	.game-card-predicted {
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}

	.game-card-top {
		display: flex;
		justify-content: space-between;
					
		.game-date {

			font-size: 1.15rem;
		}

		.game-card-live {
			background: $red;
			color: $light;
		}
	}

	.game-card-predicted-left {
		top: 0;
		right: 2.35rem;
	}

	.game-card-bot {
		display: flex;

		.game-card-left {
			display: flex;
			align-items: center;
			flex: 1;
	
			.game-matchup {
				display: flex;
				font-size: 1.35rem;
				gap: 1.25rem;
	
				.game-teams,
				.game-scores {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
				}

	
				.game-scores {
					position: relative;
					font-size: 1.25rem;
					
				}
			}
		}
	
		.game-card-right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.25rem;
			font-size: 1.1rem;
	
			.game-start,
			.game-status,
			.game-period,
			.current-winner,
			.game-winner {
				text-align: center;
			}
	
			.game-period {
				font-size: 1.05rem;
			}
		}

	}

	
}