@import '@styles/colors.scss';

.about-user {
	display: flex;
	flex-direction: column;
	border: 1px solid;
  @include theme-color(border-color, border);
	padding: 1.5rem;

	.about-user-header {
		font-size: 1.25rem;
		padding: 0 0 1rem;
	}
}