@import '@styles/colors';

.search-page {
	width: 100%;
	display: flex;
  flex-direction: column;
	align-items: center;
	padding: $page-side-padding;

	.sp-title {
		text-align: center;
		padding: 2rem 0 0;
		font-size: 1rem;
	}

	@media (min-width: 768px) {
		padding: $page-side-padding;
	}
}