@import '@styles/colors';

.mobile-overlay {
	border-right: 1px solid;
	@include theme-color(border-color, border);
	@include theme-color(background-color, bg);
	height: 100dvh;
	width: 14rem;
	position: fixed;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	z-index: 2;
	display: flex;
	flex-direction: column;
	padding: 4.5rem 0 $normal-padding;

	&.slide-in {
		transform: translateX(0);
	}

	.mo-logo {
		position: absolute;
		top: $normal-padding;
		left: $normal-padding;
	}

	.mo-close-btn {
		position: absolute;
		top: $normal-padding;
		right: $normal-padding;

		svg {
			height: 1.75rem;
			width: 1.75rem;
		}
	}

	.mo-nav {
		display: flex;
		flex-direction: column;
		padding: 0 $normal-padding;

		> * {
			padding: $normal-padding 0;

			.nav-btn-text {
				text-align: left;
			}
		}
	}

	.mo-space {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		/* align-items: center; */
		padding: $normal-padding;
		gap: 0.75rem;
		flex: 1;

		button {
			height: 2rem;
			width: 2rem;
		}
	}

	.mo-bo {
		padding: 0 $normal-padding;

		.mo-divider {
			padding: $normal-padding 0;
			
			.divider {
				border-bottom: 1px solid;
				@include theme-color(border-color, border);
			}
		}

		.mo-username {
			font-size: 1.25rem;
			padding: 0.5rem 0;
		}
	}
}