@import '@styles/colors';

.mobile-overlay {
	border: 1px solid;
	@include theme-color(border-color, border);
	@include theme-color(background-color, bg);
	height: 100dvh;
	width: 16rem;
	position: fixed;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	z-index: 2;
	display: flex;
	flex-direction: column;
	padding: 4.5rem 0 $normal-padding;

	&.slide-in {
		transform: translateX(0);
	}

	.mo-close-btn {
		position: absolute;
		top: $normal-padding;
		left: $normal-padding;

		svg {
			height: 1.75rem;
			width: 1.75rem;
		}
	}

	.mo-nav {
		display: flex;
		flex-direction: column;

		> * {
			padding: 1rem $normal-padding;
			/* border-bottom: 1px solid;
			@include theme-color(border-color, border); */

			.nav-btn-text {
				text-align: left;
			}
		}

		/* >:first-child {
			border-top: 1px solid;
			@include theme-color(border-color, border);
		} */
	}

	.mo-space {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		gap: 0.75rem;
		padding: 0 0 $normal-padding;
		flex: 1;

		button {
			height: 6rem;
			width: 6rem;

			.profile-btn-img {
				font-size: 2.5rem;
			}
		}

		.mo-username {
			font-size: 1.25rem;
		}
	}

	.mo-bo {
		padding: 0 $normal-padding;

		.mo-divider {
			padding: $normal-padding 0;
			
			.divider {
				border-bottom: 1px solid;
				@include theme-color(border-color, border);
			}
		}

	}

}