.signup-form {
	width: 24rem;
	border: 1px solid black;
	padding: 1rem;

	.signup-email-field,
	.signup-password-field {
		display: flex;
		flex-direction: column;

		.signup-error-message {
			color: red;
		}
	}

}