@import '@styles/colors.scss';

.list-message-container {
	display: flex;

	.list-message {
		font-size: 1.1rem;
	}
}

.skeleton-message-container {
	display: flex;

	.skeleton-message {
		font-size: 1.25rem;
		width: 12rem;
	}
}

.list-of-games-today {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	padding: 1.25rem 0 1.25rem;
	margin: 1.25rem 0 0;
	border-top: 1px solid;
	border-bottom: 1px solid;
  @include theme-color(border-color, border);

	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.no-games-today {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.no-games-box {
		display: inline-flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0.75rem 0 0;

		.no-games-text {
			font-size: 1.05rem;
		}
	}
}