@import '@styles/colors.scss';

.games-today-container {

	.list-message-container {
		display: flex;
		flex: 1;
		padding: $normal-padding;
	
		.list-message {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			
			.lm-top {
				font-size: 1.5rem;

				@media (min-width: 768px) {
					font-size: 1.5rem;
				}
			}

			.lm-bot {
				font-size: 1rem;
				color: $grey;

				@media (min-width: 768px) {
					font-size: 1.25rem;
				}
			}
		}
	}
	
	.skeleton-message-container {
		display: flex;
	
		.skeleton-message {
			font-size: 1.25rem;
			width: 12rem;
			margin: $normal-padding;
	
			@media (min-width: 768px) {
				height: 1.5rem;
			}
		}
	}

	.list-of-games-today {
		display: flex;
		flex-direction: column;
		@include theme-color(border-color, border);
		z-index: 2;
		padding: 0 $normal-padding 2.5rem;
		gap: $normal-padding;
	
		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
			padding: 0 $normal-padding $normal-padding;
		}

		@media (min-width: 1200px) {
			grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		}

		@media (min-width: 1400px) {
			grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
		}

		.log-skeleton-wrapper {
			height: 10.5rem;
		}
	}

	.no-games-today {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.no-games-box {
			display: inline-flex;
			flex-direction: column;
			gap: 0.5rem;
			padding: 0.75rem 0 0;

			.no-games-text {
				font-size: 1.05rem;
			}
		}
	}
}
