@import '@styles/colors.scss';

.verify-success-page {
	height: 100vh;
  width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	padding: 20vh 0 0;

	.verify-success-title {
		font-size: 1.5rem;
	}
}