.verify-success-page {
	min-height: 87vh;
  width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	padding: 15vh 0 0;

	.verify-success-title {
		font-size: 1.5rem;
	}
}