@import '@styles/colors';
@import '@styles/variables';

.home-rightbar {
	display: flex;
	flex-direction: column;
	/* border: 1px solid;
	border-right: none;
	@include theme-color(border-color, border);
	border-top-left-radius: $round-edge;
	border-bottom-left-radius: $round-edge; */
	overflow: hidden;
	@include theme-color(background-color, backdrop);

	> * {
		border-left: 1px solid;
		@include theme-color(border-color, border);
		@include theme-color(background-color, bg);
		box-shadow: $normal-shadow;
		padding: $padding-mobile $padding-mobile 2.5rem;
	}

	>:nth-child(1) {
		height: 45%;
		border-bottom: 1px solid;
		@include theme-color(border-color, border);
	}

	>:nth-child(2) {
		height: 55%;
	}
}