@import '@styles/colors.scss';

.friends-list {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	padding: 0 0 1.25rem;
	@include theme-color(border-color, border);

	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.no-friends-fallback {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;

	.fallback-text {
		padding: 4rem 0 2rem;
	}
}

.friends-list-title {
	font-size: 1.25rem;
	padding: 0 0 1.25rem;
	margin: 0 0 1.25rem;
	@include theme-color(border-color, border);
}