@import '@styles/colors.scss';

.friends-container {

	.friends-list-title {
		font-size: 1rem;
		@include theme-color(border-color, border);
		padding: $padding-mobile $padding-mobile 0;

		@media (min-width: 768px) {
			font-size: 1.5rem;
		}
	}

	.friends-list {
		display: flex;
		flex-direction: column;
		gap: $padding-mobile;
		@include theme-color(border-color, border);
		padding: $padding-mobile;
	
		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
		}
	}

	.no-friends-fallback {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;

		.fallback-text {
			padding: 4rem 0 1rem;
		}
	}
}
