.user-history {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;

	.history-fallback {
		font-size: 1.25rem;
	}

	.history-header,
	.history-bottom {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.history-text {
			font-size: 1.25rem;
		}

		.icon {
			transition: transform 0.3s ease;
			transform: rotate(-180deg);
		}

		.rotate-icon {
			transition: transform 0.3s ease;
		}
	}

	.history-card-list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem 0 0;

		.history-card-list-bot {
			display: flex;
			justify-content: right;
		}
	}

	.history-none {
		padding: 1rem 0 0;
	}
}