@import '@styles/variables.scss';
@import '@styles/transitions.scss';
@import '@styles/colors.scss';

.user-history {
	display: flex;
	flex-direction: column;
	padding: $padding-mobile;
	border-radius: $round-edge;
	border: 1px solid;
	@include theme-color(border-color, border);

	&:hover {
		cursor: pointer;
		@include theme-color(border-color, text);
	}

	.history-fallback {
		font-size: 1rem;
	}

	.history-header,
	.history-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;

		.history-text {
			font-size: 1rem;

			&:hover {
				cursor: pointer;
			}
		}

		.icon {
			transition: transform 0.2s ease;
			transform: rotate(90deg);
		}

		.rotate-icon {
			transition: transform 0.2s ease;
		}
	}

	.history-card-list {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding: 1.5rem 0 0;

		.history-card-list-bot {
			display: flex;
			justify-content: right;
		}
	}

	.history-none {
		padding: 1rem 0 0;
	}
}