.fallback-header {
	text-align: center;
	padding: 1rem;
}

.not-found-page,
.unauthenticated-page,
.unauthrorized-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
  width: 100%;
}