@import '@styles/colors';

.pagination-bar {
	display: flex;
	justify-content: center;
	margin-top: auto;
	padding: $normal-padding;

	.pagination-controls {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-top: auto;

		> * {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.5rem;
		}

		:nth-child(1),
		:nth-child(3) {
			transition: all 0.1s ease;
			border-radius: 50%;

			&:hover {
				@include theme-color(background-color, bg-hover);
			}
		}

		.page-left-arrow,
		.page-right-arrow {

			&.none {
				pointer-events: none;
				opacity: 0.4;
			}
		}
	}
}