.portal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);

	.already-predicted-overlay {
		position: relative;
		top: 35vh;
		background: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1.25rem;
		padding: 3rem 1.5rem 4rem;

		.already-predicted-overlay-close-btn {
			position: absolute;
			top: 0;
			left: 0;
			height: 3.5rem;
			width: 3.5rem;
			border: none;
			font-size: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background: white;
		}

		.already-predicted-overlay-message {
			font-size: 1.1rem;
			padding: 1rem 0;
		}
	}
}