.portal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);

	.select-winner-overlay {
		position: relative;
		top: 35vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2rem;
		padding: 1.5rem;
		background: white;
		border: 1px solid black;
	
		.overlay-close-btn {
			position: absolute;
			top: 0;
			left: 0;
			height: 3.5rem;
			width: 3.5rem;
			border: none;
			font-size: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			background: white;
		}
	}
}

.overlay-top {

	.game-info {
		margin: 0 0 1.5rem;
	}
}

.overlay-mid {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	.game-matchup {
		width: 100%;
		display: flex;
		gap: 1rem;
	}

	.game-message {
		height: 1rem;
	}
}

.overlay-bot {

	.game-submit-warning {
		height: 1rem;
		text-align: center;
		margin: 0.5rem 0 1rem;
		font-weight: bold;
	}

	.game-prompt {
		background: white;
	}
}
