@import '@styles/colors';

.mobile-overlay-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	width: 2em;
/* 	border: 1px solid;
	@include theme-color(border-color, border); */

	.icon {
		height: 100%;
		width: 100%;
	}
	
}