@import '@styles/colors.scss';

.req-friend-card {
	display: flex;
	gap: 1rem;
	border: 1px solid;
  @include theme-color(border-color, border);
	padding: 1rem;
	min-height: 8rem;
	border-radius: $round-edge;

	&:hover {
		@include theme-color(border-color, text);
	}

	.req-friend-card-left {
		width: 6rem;
		height: 6rem;
		border: 1px solid;
  	@include theme-color(border-color, border);
		border-radius: 50%;
	}

	.req-friend-card-right {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		.req-friend-btns {
			display: flex;
			gap: 1rem;
			margin-top: auto;
	
			.req-accept-btn,
			.req-reject.btn {
				padding: 0.5rem 1rem;

				
			}

			.req-accept-btn {
				border: 1px solid;
				@include theme-color(border-color, border);

				&:hover {
					@include theme-color(border-color, text);
				}
			}
		}
	}
}