@import '@styles/colors';

.home-sidebar {
	display: flex;
	flex-direction: column;
	border-right: 1px solid;
	@include theme-color(border-color, border);
	@include theme-color(background-color, bg);
	box-shadow: $normal-shadow;
	overflow: hidden;
	padding: $normal-padding;

	.sidebar-nav {
		display: flex;
		flex-direction: column;

		.sidebar-item {
			display: flex;
			align-items: center;
			gap: 0.75rem;
			padding: 1rem $normal-padding;
			font-size: 1.1rem;
			transition: background-color 0.1s ease;
			border-left: 2px solid;
			@include theme-color(border-color, bg);

			&.on {
				pointer-events: none;
				@include theme-color(background-color, bg-hover);
				border-color: $orange;
			}

			&:hover {
				cursor: pointer;
				@include theme-color(background-color, bg-hover);
			}

			svg {
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}

	.sidebar-to-profile-nav {
		display: flex;
	}

	.sidebar-space {
		flex: 1;
		@include theme-color(border-color, border);
	}

	.sidebar-divider {
		padding: $normal-padding 0;
		
		.divider {
			border-bottom: 1px solid;
			@include theme-color(border-color, border);
		}
	}
}