@import '@styles/colors.scss';

.settings-page {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;

	.sp-settings-list {

		.sp-settings-divider {
			border-bottom: 1px solid;
			@include theme-color(border-color, border);
		}

		.sp-open-btn {
			display: flex;
			gap: 0.5rem;
			width: 100%;
			padding: 1.25rem 0;
			@include theme-color(border-color, border);
			text-align: left;

			.sp-btn-text {
				font-size: 1rem;
			}
	
			.sp-btn-icon {
				transition: transform 0.3s ease;
				transform: rotate(-180deg);
			}
	
			.sp-rotate-icon {
				transition: transform 0.3s ease;
			}
		}
		
		.see-email-wrapper,
		.update-username-wrapper {
			animation: FadeIn 0.3s ease-out;
		}
	}
}