.settings-page {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 8vh 0 0;
	flex: 1;

	.sp-settings-list {
		border-bottom: 1px solid lightgrey;

		.sp-open-btn {
			display: flex;
			gap: 0.5rem;
			width: 100%;
			padding: 1rem 0;
			border-top: 1px solid lightgrey;
			text-align: left;
	
			.sp-btn-icon {
				transition: transform 0.3s ease;
				transform: rotate(-180deg);
			}
	
			.sp-rotate-icon {
				transition: transform 0.3s ease;
			}
		}
		
		.see-email-wrapper,
		.update-username-wrapper {
			animation: FadeIn 0.3s ease-out;
		}
	}
}