@import '@styles/colors';

.login-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 80vh;

	@media (min-width: 768px) {
		flex-direction: row;
	}

	.lp-left {
		min-height: 10vh;

		@media (min-width: 768px) {
			min-height: auto;
			width: 55%;
			border-right: 1px solid;
			@include theme-color(border-color, border);
		}
	}

	.lp-right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (min-width: 768px) {
			width: 45%;	
		}

		.lp-heading {
			padding: 0 0 2rem;
		}
	}
	
	.login-form-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: clamp(200px, 100%, 24rem);
		/* border: 1px solid;
		@include theme-color(border-color, border); */
		padding: 1.25rem 0;

		.lf-top {
			text-align: center;
			padding: 1rem 0 2rem;
	
			.lf-heading {
				font-size: 2rem;
				font-weight: 600;
				line-height: 1.25;
			}
		}
	}

	.login-page-bot {
		display: flex;
		justify-content: center;
		padding: 1.5rem 0;
		gap: 0.5rem;
	}
}