.login-page {
	display: flex;
  flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 80vh;
	
	.login-form-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.login-page-bot {
		display: flex;
		justify-content: center;
		padding: 1.5rem 0;
		gap: 0.5rem;
	}
}