.profile-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.profile-message {
		font-size: 2rem;
		margin: 0 0 1rem;
	}

	.profile-details {
		border-bottom: 1px solid black;
		
		.profile-email {
			padding: 1rem 0;
		}
	}
}

.profile-error {
	display: flex;
	justify-content: center;
	width: 24rem;
	border: 1px solid black;
	padding: 2rem 0;
}