@import '@styles/colors.scss';
@import '@styles/variables.scss';

.df-portal-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: fixed;
	padding: 1rem;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
	display: flex;
	justify-content: center;

	.delete-friend-overlay {
		width: clamp(300px, 90%, 360px);
		min-height: 20vh;
		position: absolute;
		top: 35vh;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		@include theme-color(background-color, bg);
		border-radius: $round-edge;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;

		.delete-friend-btns {
			display: flex;
			gap: 1rem;

			> * {
				border-radius: $round-edge;
				padding: 0.75rem 1.5rem;
				color: $red;
			}

			.df-confirm-btn {
				border: 1px solid $red;
			}
		}
	}
}