@import '@styles/colors.scss';
@import '@styles/variables.scss';

.history-card {
	position: relative;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid;
	@include theme-color(border-color, border);
	gap: 0.5rem;
	padding: 1rem;
	list-style: none;
	border-radius: $round-edge;

	&.correct {
		border: 1px solid blue;

		.history-game-outcome {
			color: blue;
		}
	}

	&.incorrect {
		border: 1px solid orange;

		.history-game-outcome {
			color: orange;
		}
	}

	.history-game-outcome {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.25rem;
	}
}