.history-card {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid lightgrey;
	gap: 0.5rem;
	padding: 1rem;
	list-style: none;

	&.correct {
		border: 1px solid blue;
	}

	&.incorrect {
		border: 1px solid orange;
	}

	.history-game-id {

	}
}