@import '@styles/colors.scss';
@import '@styles/variables.scss';

.friend-card {
	display: flex;
	padding: 1rem;
	gap: 1rem;
	border: 1px solid;
  @include theme-color(border-color, border);
	min-height: 8rem;
	cursor: pointer;
	border-radius: $round-edge;

	&:hover {
		@include theme-color(border-color, text);
	}

	.friend-card-left {
		width: 6rem;
		height: 6rem;
		border: 1px solid;
  	@include theme-color(border-color, border);
		border-radius: 50%;
	}

	.friend-card-right {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		flex-grow: 1;
	}
}