@import '@styles/colors';

.open-overlay-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem 1rem;
	border-radius: $round-edge;
	transition: background-color 0.1s ease;

	&:hover {
		@include theme-color(background-color, bg-hover);
	}

	.open-btn-text {
		font-size: 1rem;
	}
}