.logout-container {
	position: relative;

	.open-overlay-btn {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		background: white;
		border: none;
		padding: 0.5rem;
		
		.open-btn-text {
			font-size: 1rem;
		}
	}
}
