.friends-list {
	display: flex;
	flex-direction: column;
}

.no-friends-fallback {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;

	.fallback-text {
		padding: 4rem 0 2rem;
	}
}

.friends-list-title {
	padding: 1rem 0;
	border-bottom: 1px solid lightgrey;
}