@import '@styles/colors.scss';

.notifications-page {
	width: 100%;
	display: flex;
  flex-direction: column;
	align-items: center;
	padding: $normal-padding;

	@media (min-width: 768px) {
		padding: $normal-padding $page-side-padding;
	}
}