.profile-stats {
	display: flex;
	flex-direction: column;
	padding: 3rem 0;

	.stats-header {
		font-size: 1.25rem;
		padding: 0 0 1rem;
	}

	.stat {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		.stat-type {
			display: flex;
			align-items: center;
			gap: 0.25rem;

			.stat-title,
			.stat-percentage {
				font-size: 1rem;
			}
		}

		.correct-rate {
			display: flex;
		}
	}
}