.profile-stats {
	display: flex;
	flex-direction: column;
	padding: 4rem 0;

	.stats-header {
		font-size: 1.25rem;
		padding: 0 0 1rem;
		margin: 0 0 1rem;
		border-bottom: 1px solid lightgrey;
	}

	.stat {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		line-height: 1.5rem;

		.stat-type {
			display: flex;
			align-items: baseline;
			gap: 0.25rem;

			.stat-percentage {
				font-size: 1.5rem;
			}

			.stat-title {
				font-size: 1rem;
			}
		}

		.correct-rate {
			display: flex;
			gap: 0.25rem;

			span {
				font-size: 1.25rem;
			}
		}
	}
}