@import '@styles/colors.scss';

.profile-stats {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	border: 1px solid;
	@include theme-color(border-color, border);
	border-radius: $round-edge;

	.stats-header {
		font-size: 1.25rem;
		padding: 0 0 1.5rem;
	}

	.stat {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		line-height: 1.5rem;

		.stat-type {
			display: flex;
			align-items: baseline;
			gap: 0.25rem;

			.stat-percentage {
				font-size: 1.5rem;
			}

			.stat-title {
				font-size: 1rem;
			}

			.stat-fallback {
				font-size: 1rem;
			}
		}

		.correct-rate {
			display: flex;
			gap: 0.25rem;

			span {
				font-size: 1.25rem;
			}
		}
	}
}

.profile-stats-skeleton {
	height: 10rem;
	border-radius: 10px;
}