@import '@styles/colors.scss';

.home-games {
	display: flex;
	flex-direction: column;
	padding: 0 0 0.5rem;
	padding: $padding-mobile;

	@media (min-width: 768px) {
		/* border: 1px solid;
		@include theme-color(border-color, border);
		border-radius: $round-edge; */
	}

	.home-games-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem 0;

		@media (min-width: 768px) {
			padding: 0.5rem 0 1rem;
		}
	
		.hg-header {
			font-size: 1.5rem;

		}

		.hg-slider-btns {
			display: flex;
			align-items: center;
			gap: 1rem;

			.slider-btn-left,
			.slider-btn-right {

				&:hover {
					cursor: pointer;
				}

				&.disabled {
					pointer-events: none;
					opacity: 0.3;
				}
			}
		}
	}
	
	.hg-slider {
		overflow-x: auto;
		white-space: nowrap;
		scrollbar-width: none;
  	-ms-overflow-style: none;

		.hg-list {
			flex: 1;
			padding: 0.5rem 0 1rem;

			.hg-list-skeleton {
				height: 20rem;
			}
			
			>:first-child {
				margin-left: 0.5rem;
			}
			>:last-child {
				margin-right: 0.5rem;
			}
		}
	}

	.hg-list-desktop {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
		gap: $padding-mobile;
	}

	.hg-slider::-webkit-scrollbar {
		display: none;
	}

	.hg-no-games {
		display: flex;
		height: 20rem;

		.no-games-card {
			border: 1px solid;
			@include theme-color(border-color, border);
			border-radius: $round-edge;
			height: 20rem;
			width: 15rem;
			display: flex;
			justify-content: center;
			align-items: center;
			@include theme-color(background-color, bg);

			.no-games-text {
				text-align: center;
				padding: 0 0 2rem;
			}
		}
	}

	.hg-loading {
		display: flex;
		height: 20rem;
		overflow: auto;
		scrollbar-width: none;
  	-ms-overflow-style: none;
		padding: 0.5rem;

		.hg-list-skeleton {
			height: 20rem;
			width: 15rem;
			border-radius: $round-edge;
		}

		> * {
			margin-right: $padding-mobile;
		}

		> :last-child {
			margin-right: 0;
		}

		&.desktop {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
			gap: $padding-mobile;
			padding: 0;
			height: auto;
		}
	}

	.hg-loading::-webkit-scrollbar {
		display: none;
	}
}