@import '@styles/colors.scss';
@import '@styles/variables.scss';
@import '@styles/transitions.scss';

.user-stats {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: $round-edge;

	.stats-header {
		font-size: 1.5rem;
		padding: 0 0 1.5rem;
	}

	.stat {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		line-height: 1.5rem;

		.stat-type {
			display: flex;
			align-items: baseline;
			gap: 0.25rem;

			.stat-title {
				font-size: 1rem;
			}

			.stat-percentage {
				font-size: 1.25rem;
			}
		}

		.correct-rate {
			display: flex;
			align-items: baseline;
			gap: 0.25rem;

			.correct-pred,
			.correct-total {

				span {
					font-size: 1.25rem;
				}
			}
		}
	}
}

.user-stats-skeleton {
	height: 10rem;
	border-radius: 10px;
}