.user-stats {
	display: flex;
	flex-direction: column;
	padding: 3rem 0;

	.stats-header {
		font-size: 1.5rem;
		margin: 0 0 1rem;
	}

	.stat {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		line-height: 1.5rem;

		.stat-type {
			display: flex;
			align-items: baseline;
			gap: 0.25rem;

			.stat-title {
				font-size: 1rem;
			}

			.stat-percentage {
				font-size: 1.5rem;
			}
		}

		.correct-rate {
			display: flex;
			align-items: baseline;
			gap: 0.25rem;

			.correct-pred,
			.correct-total {

				span {
					font-size: 1.5rem;
				}
			}
		}
	}
}