@import '@styles/colors.scss';
@import '@styles/variables.scss';

.pick-submit-btn {
	background: none;
	border: none;
	padding: 1rem 2.5rem;
	border: 1px solid;
  @include theme-color(border-color, border);
	font-size: 1.05rem;
	border-radius: $round-edge;

	&:hover {
		@include theme-color(border-color, text);
	}
}