@import '@styles/colors.scss';

.req-friends-container {
	display: flex;
	flex-direction: column;

	.req-friends-title {
		padding: 0 0 1rem;
		margin: 0 0 1rem;
		border-bottom: 1px solid;
		@include theme-color(border-color, border);

		.req-friends-title-text {
			font-size: 1.25rem;
		}
	}

	.req-friends-list {
		display: flex;
		flex-direction: column;
	}
	
	.no-req-friends-fallback {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
	
		.fallback-text {
			padding: 5rem 0 1rem;
		}
	}
}



