@import '@styles/colors.scss';

.send-req-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
  @include theme-color(border-color, border);
	padding: 0.25rem;
	height: 3.5rem;
	font-size: 1.15rem;
	margin: 2rem 0;

	&.sent {
		opacity: 0.5;
		pointer-events: none;
	}
}

.friends-badge {
	display: flex;
	align-items: baseline;
	gap: 0.25rem;
}