@import '@styles/colors.scss';

.send-req-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
  @include theme-color(border-color, border);
	padding: 0.25rem 1.5rem;
	height: 3.25rem;
	width: 14rem;
	font-size: 1.15rem;
	margin: 2rem 0;

	&:hover {
		cursor: pointer;
		@include theme-color(border-color, text);
	}

	&.sent {
		opacity: 0.5;
		pointer-events: none;
	}
}

.friends-badge {
	display: flex;
	justify-content: center;
	gap: 0.25rem;
	padding: 0 0 1.5rem;
}