.update-username {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0 0 0.5rem;

	.uu-title {
		padding: 0.5rem 0;
	}
	
	.uu-top {
		display: flex;
		align-items: center; 
		gap: 0.5rem;

		input.uu-input {
			padding: 0.25rem;
		}
	
		.update-username-btn {
			color: black;
			padding: 0.5rem 1rem;

			&.inactive {
				pointer-events: none;
				opacity: 0.4;
			}
		}
	}

	.uu-bot {

		.uu-message {
			display: flex;
			align-items: center;
			gap: 0.25rem;
			font-size: 0.9rem;
			padding: 0.5rem 0;

			.uu-error-icon {
				display: flex;
			
			}
		}
	}
}
