@import '@styles/colors';

.dashboard {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	
	width: 100%;

	@media (min-width: 768px) {
		padding: 0 1.25rem;
		overflow-y: auto;
	}

	.home-welcome {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		padding: 0 0 2.5rem;

		@media (min-width: 768px) {
			padding: 0 0 3rem;
		}

		.hw-hi {
			font-size: 2rem;

			@media (min-width: 768px) {
				font-size: 3.25rem;
			}
		}

		.hw-back {
			font-size: 1rem;

			@media (min-width: 768px) {
				font-size: 1.25rem;
			}
		}
	}

	.home-thing {
		border: 1px solid;
		@include theme-color(border-color, border);
		border-radius: $round-edge;
		min-height: 40vh;
		padding: 1.25rem;
	}
}