@import '@styles/colors';

.dashboard {
	display: flex;
	flex-direction: column;
	width: 100%;
	@include theme-color(background-color, backdrop);

	@media (min-width: 768px) {
		overflow-y: auto;
	}

	.home-welcome {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		@include theme-color(background-color, bg);
		border-bottom: 1px solid;
		@include theme-color(border-color, border);
		box-shadow: $normal-shadow;
		padding: $padding-mobile;

		.hw-hi {
			font-size: 2rem;

			@media (min-width: 768px) {
				font-size: 3.25rem;
			}
		}

		.hw-back {
			font-size: 1rem;

			@media (min-width: 768px) {
				font-size: 1.25rem;
			}
		}
	}

	.db-stats-container {
		height: 30rem;
		padding: 2.5rem $padding-mobile;
		@include theme-color(background-color, bg);

		.user-stats {

			.correct-rate {
				font-size: 1.25rem;
				gap: 1.25rem;

				> * {

					span {
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	.home-thing {
		border: 1px solid;
		@include theme-color(border-color, border);
		border-radius: $round-edge;
		min-height: 40vh;
		padding: 1.25rem;
		@include theme-color(background-color, bg);
	}
}