.user-predictions {
	display: flex;
	flex-direction: column;
	padding: 1.25rem 0;

	.user-pred-fallback {
		font-size: 1.25rem;
	}

	.current-predictions-header {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.current-text {
			font-size: 1.25rem;

			&:hover {
				cursor: pointer;
			}
		}

		.icon {
			transition: transform 0.3s ease;
			transform: rotate(-180deg);
		}

		.rotate-icon {
			transition: transform 0.3s ease;
		}
	}

	.current-predictions-list {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		padding: 1.25rem 0 0;

		.current-predictions-list-bot {
			display: flex;
			justify-content: right;
		}

		@media (min-width: 768px) {
			padding: 1.25rem;
		}
	}

	.prediction-none {
		padding: 1.25rem 0 0;
	}
}