@import '@styles/colors.scss';

.color-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
  @include theme-color(border-color, border);
	height: 3rem;
	width: 3rem;
}