@import '@styles/colors';

.profile-intro {
	display: flex;
	flex-direction: column;
	align-items: center;

	.profile-picture {
		padding: 0 0 1rem;

		.image {
			height: 7rem;
			width: 7rem;
			border: 2px solid;
			@include theme-color(border-color, border);
			border-radius: 50%;

			@media (min-width: 768px) {
				height: 9rem;
				width: 9rem;
			}
		}
	}
	.profile-username {
		font-size: 1.5rem;
		padding: 0 0 0.5rem;
	}
	
}