@import '@styles/colors.scss';

.header-container {
	height: 10vh;
	position: fixed;
	top: 0;
	width: clamp(0px, 100%, 804px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	z-index: 2;
	transition: top 0.6s;
	@include theme-color(background-color, bg);

	@media (min-width: 992px) {
		padding: 1rem 0;
	}

	.header-left {
		position: absolute;
		left: 1rem;
	}

	.header-middle {
		>* {
			font-size: 1.25rem;
		}
	}

	.header-right-nav {
		position: absolute;
		right: 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	&.hidden {
		top: -6.5rem;
	}
}