@import '@styles/colors.scss';

.header-container {
	height: 10vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	z-index: 2;
	transition: top 0.6s;
	@include theme-color(background-color, bg);

	.header-left {
		position: absolute;
		left: 1rem;

		.header-left-nav {
			
		}

		
	}

	.header-middle {
		
		> * {
			font-size: 1.25rem;
		}
	}

	.header-right-nav {
		position: absolute;
		right: 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	&.hidden {
    top: -6.5rem;
  }
}