.header-container {
	height: 10vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	z-index: 2;
	transition: top 0.6s;
	/* border-bottom: 1px solid lightgrey; */

	> :first-child {
		position: absolute;
		left: 1rem;
	}

	> :last-child {
		position: absolute;
		right: 1rem;
	}

	&.hidden {
    top: -6.5rem;
  }
}