.nav-to-home-btn {
	background: white;
	border: 1px solid black;
	height: 2.5rem;
	width: 6rem;
}

.nav-to-signup-btn,
.nav-to-login-btn {
	background: white;
	border: 1px solid black;
	padding: 1rem;
	width: 10rem;
}

.nav-to-profile-btn {
	background: white;
	border: none;
	height: 3rem;
	width: 3rem;
}

.nav-to-front-btn {
	background: white;
	border: none;
	display: flex;
	align-items: center;
	gap: 0.25rem;

	.nav-btn-text {
		order: 2;
		font-size: 1.05rem;
	}

	svg {
		order: 1;
	}
}