.nav-to-home-btn,
.nav-to-signup-btn,
.nav-to-login-btn {
	height: 2.5rem;
	width: 100%;
	margin: 0.5rem 0;
}

.nav-to-profile-btn {
	background: white;
	border: none;
	height: 3rem;
	width: 3rem;
}

.nav-to-front-btn {
	background: white;
	border: none;
	display: flex;
	align-items: center;
	gap: 0.25rem;

	.nav-btn-text {
		order: 2;
		font-size: 1.05rem;
	}

	svg {
		order: 1;
	}
}