@import '@styles/colors.scss';

.nav-to-search-btn {
	height: 2rem;
	width: 2rem;
}

.nav-to-games-btn-arr {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	padding: 2rem 0;

	.nav-btn-text {
		font-size: 1.25rem;
	}
}

.nav-to-notif-btn {
	height: 2rem;
	width: 2rem;
	position: relative;

	.number-of-notifs {
		font-size: 0.75rem;
		position: absolute;
		top: 0;
		left: 0;
		@include theme-color(background-color, bg);
		border: 1px solid;
  	@include theme-color(border-color, text);
		height: 1.1rem;
		width: 1.1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 4;
	}
}

.nav-back-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1.5px solid;

	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	transition: all 0.1s ease;

	@media (min-width: 768px) {
		width: 2.25rem;
		height: 2.25rem;
		@include theme-color(border-color, border);
	}

	.icon {
		height: 1.25rem;
		width: 1.25rem;
	
		transition: all 0.1s ease;

		@media (min-width: 768px) {
			height: 1.5rem;
			width: 1.5rem;
			@include theme-color(color, border);
		}
	}

	&:hover {
		@include theme-color(border-color, text);

		.icon {
			@include theme-color(color, text);
		}
	}
}

.nav-to-settings-btn {
	font-size: 1.25rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav-to-profile-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.25rem;
	width: 2.25rem;
	border: 1.5px solid;
	border-radius: 50%;

	@media (min-width: 768px) {
		height: 2.5rem;
		width: 2.5rem;
	}

	.profile-btn-img {
		font-size: 1rem;
	}
}

.nav-to-friends-btn,
.nav-to-games-btn,
.nav-to-home-btn {
	display: flex;
	align-items: center;
	gap: 1rem;

	svg {
		order: 1;
		height: 1.5rem;
		width: 1.5rem;
	}

	.nav-btn-text {
		order: 2;
	}
}