@import '@styles/colors.scss';
@import '@styles/variables.scss';

.loading-screen {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	@include theme-color(background-color, bg);
	z-index: 10;
}