@import '@styles/colors.scss';

.loading-screen {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	@include theme-color(background-color, bg);
	z-index: 10;

	svg {
		padding: 0 0 5rem;
	}
}