.list-message {
	font-size: 1.1rem;
}

.list-of-games-today {
	display: flex;
	flex-direction: column;
}

.list-divider {
	width: 100%;
	padding: 1rem 0 1rem;

	.divider {
		border-bottom: 1px solid black;
	}
}