@import '@styles/colors.scss';

.user-result {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	border: 1px solid;
  @include theme-color(border-color, border);
	min-height: 8rem;
}