.home-page {
	height: 87vh;
	width: 100%;
	display: flex;
  flex-direction: column;
	justify-content: space-between;

	.home-welcome {
		text-align: center;
		font-size: 3rem;
		padding: 2rem 0;
	}

	.home-btns {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
}