@import '../../../styles/colors.scss';

.home-page {
	display: flex;
  flex-direction: column;
	padding: 0.5rem 0 0;
	min-height: 80vh;

	@media (min-width: 768px) {
		padding: 2.5rem 0 0;
	}

	.home-unauth {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		width: 100%;
		flex: 1;

		@media (min-width: 768px) {
			flex-direction: row;
		}

		.hu-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			border: 1px solid;
			padding: 1.125rem;
			@include theme-color(border-color, border);

			@media (min-width: 768px) {
				width: 60%;
			}

			.hu-intro {
				font-size: 3rem;

				@media (min-width: 768px) {
					font-size: 5rem;
				}
			}
		}

		.hu-right {
			display: inherit;
			flex-direction: column;
			justify-content: center;
			border: 1px solid;
			padding: 1.25rem;
			@include theme-color(border-color, border);

			@media (min-width: 768px) {
				width: 40%;
			}

			.hu-initial-prompt {
				display: inherit;
				flex-direction: column;
				width: 100%;

				@media (min-width: 768px) {
					width: 100%;
					max-width: 350px;
				}

				.unauth-title {
					line-height: 1.5;
					font-size: 1.75rem;
					padding: 0 0 1.5rem;
					font-weight: bold;
				}
		
				.unauth-btns {
					display: flex;
					flex-direction: column;
					gap: 1rem;
				}

			}
			

			
		}
	}

	.home-auth {
		position: relative;
		flex-direction: column;

		.home-welcome {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			padding: 0 0 2.5rem;

			@media (min-width: 768px) {
				padding: 0 0 3rem;
			}

			.hw-hi {
				font-size: 2.5rem;

				@media (min-width: 768px) {
					font-size: 3.5rem;
				}
			}

			.hw-back {
				font-size: 1rem;

				@media (min-width: 768px) {
					font-size: 1.25rem;
				}
			}
		}
	}
}
