@import './variables.scss';

$light-theme-bg: $light;
$dark-theme-bg: $dark;

$light-theme-text: $dark;
$dark-theme-text: $light;

$light-theme-border: $light-grey;
$dark-theme-border: $dark-grey;

$light-theme-card-border: $light;
$dark-theme-card-border: $grey;

$light-theme-card-border-hover: $light;
$dark-theme-card-border-hover: $light;

$light-theme-backdrop: $light-backdrop;
$dark-theme-backdrop: $dark-backdrop;

$light-theme-bg-hover: $light-hover;
$dark-theme-bg-hover: $dark-hover;

$light-theme-auth-hover: $light-theme-orange;
$dark-theme-auth-hover: $dark-theme-orange;

$themes: (
  light: (
    bg: $light-theme-bg,
    text: $light-theme-text,
    border: $light-theme-border,
    card-border: $light-theme-card-border,
    card-border-hover: $light-theme-card-border-hover,
    backdrop: $light-theme-backdrop,
    bg-hover: $light-theme-bg-hover,
    auth-hover: $light-theme-auth-hover,
  ),
  dark: (
    bg: $dark-theme-bg,
    text: $dark-theme-text,
    border: $dark-theme-border,
    card-border: $dark-theme-card-border,
    card-border-hover: $dark-theme-card-border-hover,
    backdrop: $dark-theme-backdrop,
    bg-hover: $dark-theme-bg-hover,
    auth-hover: $dark-theme-auth-hover,
  ),
);

@mixin theme-color($property, $color-key) {
  @each $theme, $colors in $themes {
    .#{$theme} & {
      #{$property}: map-get(map-get($themes, $theme), $color-key);
    }
  }
}

@function create-box-shadow($color, $units...) {
  $shadow: '';
  @each $unit in $units {
    $shadow: #{$shadow} #{$unit};
  }
  @return #{$shadow} #{$color};
}