@import './colors.scss';
@import './variables.scss';

@font-face {
	font-family: 'Outfit';
	src: url('../../assets/Outfit.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	line-height: 1;
}

body {
	font-family: 'Outfit';

	&.light {
		background-color: $white;
		color: $black;
		--spinner-color: #1A1A1A;
		--input-autofill-bg: #FAF9F6;
	}

	&.dark {
		background-color: $black;
		color: $white;
		--spinner-color: #FAF9F6;
		--input-autofill-bg: #1A1A1A;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
}

input, textarea {
	font: inherit;
	color: inherit;
	padding: 0.5rem;
	cursor: default;
}

body.light input, 
body.light textarea {
	background-color: #FAF9F6;
  border: 1px solid $black;
	color: #1A1A1A;
}

body.dark input, 
body.dark textarea {
	background-color: #1A1A1A;
  border: 1px solid $white;
	color: #FAF9F6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-autofill-bg) inset !important;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	padding: 1.25rem;
	min-height: 100vh;

	.main-page {
		width: 100%;
	}
}


