@import './colors.scss';

@keyframes FadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes PulsateLive {
	0% {
			box-shadow: 0 0 1px $red;
	}
	50% {
			box-shadow: 0 0 5px $red;
	}
	100% {
			box-shadow: 0 0 1px $red;
	}
}

@mixin hover-shadow-effect($transition-duration: 0.2s) {
  transition: box-shadow $transition-duration ease;

  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 3px 8px;
  }
}

@mixin transition-delay($property: all, $duration: 0.3s, $timing-function: ease) {
	transition: $property $duration $timing-function;
}