// Colors

$dark: #202124;
$dark-backdrop: #171717;
$dark-hover: #2A2A2E;

$light: #FAF9F6;
$light-backdrop: #E8E6E3;
$light-hover: #F1EDE8;

$lightest-grey: #E0E2E4;
$lighter-grey: #CACCCC;
$light-grey: #A8AAAC;
$grey: #808A8B;
$dark-grey: #72777A;
$darker-grey: #51565A;
$darkest-grey: #33373B;

$red: #EB1403;
$green: #0E780E;
$blue: #3E98C7;
$orange: #FF6633;
$dark-blood: #221313;

$light-theme-orange: #FA561F;
$dark-theme-orange: #FA561F;

// Padding
$normal-padding: 1.25rem;
$page-side-padding: 24rem;

// Containers
$round-edge: 6px;
$rounder-edge: 12px;
$roundest-edge: 20px;

// Box Shadows
$normal-shadow: 0px 3px 5px #0000001A;
$shadow-thin: rgba(0, 0, 0, 0.3) 1px 2px 3px;
$shadow-hover: rgba(0, 0, 0, 0.3) 1px 3px 8px;
$shadow-thick: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;