@import '@styles/colors.scss';
@import '@styles/variables.scss';

.user-search-container {
	display: flex;
	flex-direction: column;
	flex: 1;

	.user-search-top {
		width: 100%;
		display: flex;

		.searchbar-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2.5rem;
			width: 2.5rem;
			border: 1px solid;
			@include theme-color(border-color, border);
			border-right: none;
			border-radius: $round-edge;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.user-search-searchbar {
			width: 100%;
			border: 1px solid;
			@include theme-color(border-color, border);
			border-left: none;
			height: 2.5rem;
			border-radius: $round-edge;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			&:focus {
				outline: none;
			}
		}
	}

	.list-of-users {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		padding: 1.25rem 0;
	}

	.user-search-error,
	.user-search-spinner,
	.search-fallback {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 5rem 0 0;
		flex: 1;
	}

	.user-search-spinner {
		@include theme-color(fill, text);
		
	}
}