.profile-page {
	min-height: 95vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 8vh 0 0;

	.profile-page-top {
		display: flex;
		width: 100%;

		.profile-page-right {
			display: flex;
			justify-content: right;
			align-items:last baseline;
			padding: 1rem 0;
			flex: 1;
		}

		.profile-container {
			display: flex;
			flex-direction: column;
			padding: 1rem 0;
			gap: 1rem;
			
			.profile-photo {
				height: 8rem;
				width: 8rem;
				border: 2px solid lightgrey;
				border-radius: 50%;
			}
		
			.profile-details {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				
				.profile-username {
					font-size: 1.35rem;
					color: grey;
				}

				.profile-verified {
					display: flex;
					gap: 0.15rem;
				}
			}
		}
	}

	.profile-page-divider {
		display: flex;
		justify-content: center;

		.divider {
			border-bottom: 1px solid black;
			width: 100%;
		}
	}

	.profile-page-bot {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;

		.profile-page-blobs {
			display: flex;
			flex-direction: column;
			flex: 1;

			.blob-skeleton-wrapper {
				margin: 2rem 0 7.75rem;
				height: 14vh;
			}
		}
		
		.profile-error {
			display: flex;
			justify-content: center;
			width: 24rem;
			border: 1px solid black;
			padding: 2rem 0;
		}
	}
}