@import '@styles/colors';

.signup-page {
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 80vh;

	.signup-page-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: clamp(200px, 100%, 375px);
		border: 1px solid;
		@include theme-color(border-color, border);
		padding: 1.25rem;
		
		.signup-page-bot {
			display: flex;
			justify-content: center;
			padding: 1.5rem 0;
			gap: 0.5rem;
		}
	}

	
}