.portal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);

	.game-pick-overlay {
		position: relative;
		top: 25vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		margin: 2rem;
		padding: 1.5rem;
		background: lightgrey;
		border: 1px solid black;
	
		.overlay-close-btn {
			position: absolute;
			top: 0;
			left: 0;
			height: 2.5rem;
			width: 2.5rem;
		}
	
		.game-matchup {
			display: flex;
			gap: 1rem;
			
			.away-team,
			.home-team {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.5rem;
				padding: 1rem 2rem;
				background: white;
	
				.tricode,
				.score {
					font-size: 1.25rem;
				}
			}
		}
	
		.game-prompt {
			padding: 0.5rem 1rem;
			background: white;
		}
	}


}

